%table.table
  %thead
    %tr
      %th Fullname
      %th Age
      %th Sex
      %th Location
      %th Source Number
      %th Status
      %th

  %tbody
    - persons.each do |person|
      %tr
        %td= person.full_name
        %td= person.age
        %td= person.sex
        %td= person.location
        %td= person.source_number
        %td= person.found ? 'Found' : 'Not Found'
        %td
          = link_to 'Set as Found', set_as_found_person_path(person), :method => :post
