%table.js-sortable-table.table.table-hover.table-align-center.tablesorter
  %thead.table-header
    %tr
      %th Fullname
      %th Age
      %th Sex
      %th Location
      %th Source Number
      %th Status
      - if @current_user
        %th Actions

  %tbody
    - persons.each do |person|
      %tr.list
        %td= person.full_name
        %td= person.age
        %td= person.sex
        %td= person.location
        %td= person.source_number
        %td= person.found ? 'Found' : 'Not Found'
        - if @current_user
          %td
            = link_to 'Set as Found', set_as_found_person_path(person), :method => :post
